.active{
    background-color: rgb(20, 31, 31);
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
    text-align: center;
}

  .product-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
